.brd {
    border: 1px solid red;
}

body {
    background-color: black;
    color: white;
}

h1 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
}

img {
    max-width: 100%;
    
}

header {
    margin-top: 25px;
}

section {
    max-width: 500%;
}

.container-top {
    height: 100%;
}

.badge {
    border-bottom: 2px solid gray;
}


.board {
   height: 300px;
}

.underscore {
    position: relative;
    text-align: center;
    font-size: 97px;
    color: red;
    bottom: 391px;
}

.container-btm {
    max-height: 100%;
}

.aside-info {
    margin-top: 30%;
    
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
     
}






font-family: 'Righteous', cursive;